<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="NorthwindTradersCS" connectionString="Data Source=data.net.nait.ca,24680;Initial Catalog=NorthwindTraders;Persist Security Info=True;User ID=jdstest;Password=new_123"
            providerName="System.Data.SqlClient" />
        <add name="NorthwindTradersConnectionString" connectionString="Data Source=data.net.nait.ca,24680;Initial Catalog=NorthwindTraders;Persist Security Info=True;User ID=jdstest;Password=new_123"
            providerName="System.Data.SqlClient" />
        <add name="r25_NorthwindConnectionString" connectionString="Data Source=data.net.nait.ca,24680;Initial Catalog=r25_Northwind;Persist Security Info=True;User ID=r25;Password=CNT_123"
            providerName="System.Data.SqlClient" />
        <add name="r25_NorthwindConnectionString2" connectionString="Data Source=data.net.nait.ca,24680;Initial Catalog=r25_Northwind;Persist Security Info=True;User ID=r25;Password=CNT_123"
            providerName="System.Data.SqlClient" />
        <add name="r25_NorthwindDropdown" connectionString="Data Source=data.net.nait.ca,24680;Initial Catalog=r25_Northwind;Persist Security Info=True;User ID=r25;Password=CNT_123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.7.2"/>
      <httpRuntime targetFramework="4.7.2"/>
    </system.web>

</configuration>
